<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Oh great <%= @user.name %>!</h1>
    <p>Please clock your hours at <%= @url %></p>
    <p>That is all.</p>
  </body>
</html>