<% provide(:title, 'Sequitur Clock Users') %>
<div class="row">
  <div class="large-6 columns">
    <h3>Users</h3>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Last Login</th>
          <th>Total Hours</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.created_at.strftime("%B %d at %I:%M %p") %></td>
          <td>0</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>