<% provide(:title, 'Sequitur Clock Clients') %>
<div class="row section">
  <div class="large-6 columns">
    <h3>Clients</h3>
  </div>
</div>
<div class="row section">
  <div class="large-12 columns">
    <ul class="large-block-grid-3">
    <% @clients.each do |client| %>
      <li>
        <div class="databox">
          <h4><%= link_to client.name, client_path(client) %></h4>
          <h1>0 hrs</h1>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row section">
  <div class="large-6 columns">
    <%= link_to "Create a new client", new_client_path, class: "button" %>
  </div>
</div>
