/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-color: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-width: 0px;
}

td, th {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #eee;
}

.container {
  margin-top: 0rem;
}

.section {
  margin-top: 3rem;
}

.databox {
  background-color: white;
  padding: 10px 13px;
  position: relative;
  min-height: 10em;
  
  .actions {
    position: absolute;
    bottom: 0px;
    margin-bottom: 8px;
  }
}

input.natural {
  border-radius: 4px;
  background: none;
  height: auto;
  width: 2.5em;
  padding-left: 0.75rem;
  display: inline-block;
  border: 0px;
  font-size: 3rem;
  color: #179AD8;
}

p.natural {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 0;
}

input.three-digit {
}

/* For note style text areas */
.notes {
  color: #666;
  width: 100%;
  outline: none;
  width: 20%;
  border: 0px;
  height: 8em;
  line-height: 31px;
  background-image: -webkit-linear-gradient(left, white 0, transparent 0), -webkit-linear-gradient(right, white 0, transparent 0), -webkit-linear-gradient(white 30px, #bcf 30px, #bcf 31px, white 31px);
  background-repeat: repeat-y;
  background-size: 100% 100%, 100% 100%, 100% 31px;
  background-attachment: local;  
}


